html {
  font-family: sans-serif;
  line-height: 1.15; }
  html body {
    margin: 0; }
    html body footer, html body header, html body nav, html body section {
      display: block; }
    html body a {
      background-color: transparent; }
    html body a:active, html body a:hover {
      outline-width: 0; }
    html body h1 {
      font-size: 2em;
      margin: 0.67em 0; }
    html body img {
      border-style: none; }
    html body button, html body input, html body textarea {
      font: inherit;
      margin: 0; }
    html body button, html body input {
      overflow: visible; }
    html body button {
      text-transform: none; }
