html, body {
  height: 100%;
  width: 100%; }

body {
  color: #2f3234;
  font-family: "Ubuntu-Light";
  font-size: 16px;
  line-height: 1.42;
  position: relative; }

body.locked {
  overflow: hidden; }

.container {
  margin: 0 auto;
  position: relative;
  width: 940px; }

.container::before, .container::after {
  content: "";
  display: table; }

.container::after {
  clear: both; }

.wrapper {
  min-height: 100%;
  min-width: 960px;
  overflow: hidden;
  position: relative; }

.section {
  height: 100vh;
  min-height: 650px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: outside none none; }

p {
  margin: 0;
  padding: 0; }

footer {
  position: relative; }

* {
  box-sizing: border-box; }

/*=============================== HEADER =============================*/
.nav {
  display: inline-block;
  vertical-align: middle;
  width: 83%; }

.nav__list {
  width: 100%; }

.nav__item {
  display: block;
  float: left;
  margin-right: 15px;
  white-space: nowrap; }

.nav__item:last-child {
  margin-right: 0; }

.nav__item:last-child::after {
  display: none; }

.nav__item::after {
  background: white;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 4px;
  margin-left: 15px;
  vertical-align: middle;
  width: 4px; }

.nav__link {
  color: white;
  display: inline-block;
  font-family: "Ubuntu-Medium";
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle; }

.nav__link:hover {
  text-decoration: underline; }

.hero {
  background: transparent url("../img/background/hero-bg.jpg") no-repeat scroll center center/cover;
  -webkit- background: transparent url("../img/background/hero-bg.jpg") no-repeat scroll center center/cover;
  position: relative; }

.hero .container {
  position: static; }

.hero__content::before, .hero__content::after {
  content: "";
  display: table; }

.hero__content::after {
  clear: both; }

.hero__container {
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.hero__left {
  float: left;
  width: 50%; }

.hero__right {
  float: left;
  padding-top: 115px;
  width: 50%; }

.hero__desc {
  color: white;
  font-family: "Lifehack-Medium";
  font-size: 65px;
  line-height: 1em;
  text-transform: lowercase; }

.section__title {
  color: #f9b43b;
  font-family: "Gagalin-Regular";
  font-size: 72px;
  margin-bottom: 12px; }

.hero__img {
  display: inline-block;
  left: 50%;
  max-width: 100%;
  position: relative;
  transform: translateX(-50%); }

.header__menu {
  float: left;
  padding-top: 13px;
  width: 68%; }

.header {
  padding-top: 12px; }

.header__logo {
  float: left;
  width: 32%; }

.down-arrow {
  bottom: 20px;
  display: block;
  height: 60px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  transition: all 0.3s ease 0s;
  width: 60px; }

.down-arrow:hover svg {
  height: 35px;
  margin-top: -15px;
  width: 35px; }

.down-arrow svg {
  height: 30px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease 0s;
  width: 30px; }

.order-link {
  display: inline-block;
  margin-left: 1%;
  padding: 9px 0;
  vertical-align: middle;
  width: 15%; }

.btn {
  background: #e45028;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: "Ubuntu-Medium";
  font-size: 13px;
  padding: 9px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top; }

/*==============================  BEST  ==============================*/
.best {
  background: transparent url("../img/background/best.jpg") no-repeat scroll 50% center/cover;
  text-align: center; }

.best .section__title {
  margin-bottom: 80px; }

.best .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.best__icon {
  display: inline-block;
  height: 100px;
  position: relative;
  width: 100px; }

.best__icon-pic {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.best__list {
  font-size: 0; }

.best__list * {
  font-size: 14px; }

.best__item {
  display: inline-block;
  vertical-align: top;
  width: 33.3%; }

.best__title {
  color: #2f3234;
  font-family: "Lifehack-Medium";
  font-size: 24px;
  margin-bottom: 20px; }

.section__title.section__title_black {
  color: #2f3234; }

/*======================================  BURGERS ================================*/
.burgers {
  background: transparent linear-gradient(to bottom, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%); }

.burgers .section__title {
  margin-bottom: 15px; }

.burgers-slider__item {
  padding-bottom: 85px;
  position: relative; }

.burgers-slider__item::before, .burgers-slider__item::after {
  content: "";
  display: table; }

.burgers-slider__item::after {
  clear: both; }

.burgers-slider__left {
  float: left;
  padding-top: 95px;
  width: 50%; }

.burgers-slider__pic {
  display: inline-block;
  max-width: 100%; }

.burgers-slider__right {
  float: left;
  width: 50%; }

.burgers-slider__right .section__title {
  line-height: 1.1em; }

.burgers-slider__text {
  color: white;
  margin-bottom: 18px; }

.burgers-slider__price {
  color: #e35028;
  display: inline-block;
  font-family: "Gagalin-Regular";
  vertical-align: middle; }

.burgers-slider__price-amount, .burgers-slider__price-measure {
  display: inline-block;
  line-height: 1;
  vertical-align: bottom; }

.burgers-slider__price-amount {
  font-size: 72px; }

.burgers-slider__price-measure {
  font-size: 30px; }

.burgers-slider__buy {
  display: inline-block;
  margin-left: 32px;
  vertical-align: bottom; }

.ingredients {
  background: rgba(227, 80, 40, 0.4);
  border-radius: 5px;
  display: block;
  height: 90px;
  left: 0;
  position: absolute;
  top: 20px;
  transition: all 0.3s ease 0s;
  width: 90px;
  z-index: 10; }

.ingredients:hover {
  background: #e35028; }

.ingredients:hover .ingredients__dropdown {
  left: 100%;
  opacity: 1; }

.ingredients__icon-text {
  color: white;
  font-family: "Gagalin-Regular";
  font-size: 14px; }

.ingredients__icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.ingredients__dropdown {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  left: -9999px;
  opacity: 0;
  padding: 20px;
  position: absolute;
  transition: opacity 0.3s ease 0s;
  width: 270px;
  z-index: 10; }

.ingredients__dropdown::before {
  bottom: 0;
  content: "";
  left: -29px;
  position: absolute;
  top: 0;
  width: 30px; }

.indredients__table {
  width: 100%; }

.ingredients__table-cell {
  padding: 8px 0;
  vertical-align: middle; }

.burger-weight {
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute; }

.burger-weight__measure {
  background: transparent url("../img/icons/kkal.svg") no-repeat scroll 50% center;
  height: 60px;
  position: relative;
  width: 65px; }

.burger-weight__amount {
  bottom: 8px;
  color: white;
  font-family: "Gagalin-Regular";
  font-size: 20px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center; }

.burger-weight__title {
  color: #fff;
  font-family: "Gagalin-Regular";
  font-size: 14px;
  text-align: center; }

.burgers__container {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.burger-slider-wrap {
  position: relative; }

.burger-slider__btn_next, .burger-slider__btn_prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; }

.burger-slider__btn_next {
  right: -20px; }

.burger-slider__btn_next svg {
  transform: rotate(-90deg); }

.burger-slider__btn_prev {
  left: -20px; }

.burger-slider__btn_prev svg {
  transform: rotate(90deg); }

.section__title.section__title_white {
  color: white; }

.text-block p {
  font-size: 14px;
  line-height: 1.8; }

/*===============================================  TEAM  ==================================================*/
.team {
  background: transparent url("../img/background/team.jpg") no-repeat scroll 50% center/cover;
  position: relative; }

.team .section__title {
  margin-bottom: 12%; }

.team__section {
  background: rgba(47, 50, 52, 0.93);
  bottom: 0;
  left: 50%;
  padding: 5% 2% 0 7%;
  position: absolute;
  right: 0;
  top: 0; }

.team-acco__item {
  margin-bottom: 40px; }

.team-acco__item.active .team-acco__trigger {
  color: #f9b43b; }

.team-acco__item.active .team-acco__trigger::before {
  transform: rotate(-180deg); }

.team-acco__trigger {
  color: #fff;
  display: block;
  font-family: "Gagalin-Regular";
  font-size: 14px;
  position: relative;
  text-decoration: none; }

.team-acco__trigger::before, .team-acco__trigger::after {
  content: "";
  display: block;
  height: 0;
  left: -18px;
  position: absolute;
  top: 8px;
  width: 0; }

.team-acco__trigger::before {
  border-color: #f9b43b transparent transparent;
  border-style: solid;
  border-width: 7px 5px 0;
  transform: rotate(0deg);
  transition: all 0.3s ease 0s; }

.team-acco__trigger::after {
  border-color: transparent transparent #f9b43b;
  border-style: solid;
  border-width: 0 5px 7px;
  display: none; }

.team-acco__content {
  padding-top: 14px; }

.team-acco__pic {
  float: left;
  text-align: center;
  width: 30%; }

.team-acco__img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  vertical-align: top;
  width: 100px; }

.team-acco__text {
  float: left;
  width: 70%; }

.team-acco__title {
  color: #fff;
  font-family: "ubuntubold";
  font-size: 14px;
  margin-bottom: 14px; }

.team-acco__text-content {
  color: #fff;
  font-family: "Ubuntu-Light";
  font-size: 14px; }

/*===========================================  MENU  ======================================================*/
.menu {
  background: transparent url("../img/background/menu.jpg") no-repeat scroll 50% center/cover;
  position: relative; }

.menu__title {
  left: 10%;
  position: absolute;
  top: 10%; }

.menu-acco {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0; }

.menu-acco__item {
  float: left;
  height: 100%; }

.menu-acco__item.active .menu-acco__trigger-text {
  color: #f9b43b; }

.menu-acco__trigger {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  float: left;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 80px; }

.menu-acco__trigger-text {
  color: #fff;
  font-family: "Gagalin-Regular";
  font-size: 40px;
  height: 80px;
  left: -275px;
  margin-top: -40px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 650px; }

.menu-acco__content {
  background: rgba(47, 50, 52, 0.93);
  float: left;
  height: 100%;
  overflow: hidden;
  width: 550px; }

.menu-acco__text {
  color: #fff;
  font-family: "Ubuntu-Light";
  font-size: 14px;
  line-height: 1.8;
  padding: 60px 30px;
  width: 550px; }

/*============================================== REVIEWS ========================================*/
.reviews__list {
  height: 100%; }

.reviews__item {
  float: left;
  height: 50%;
  position: relative;
  width: 25%; }

.review {
  height: 100%;
  position: relative;
  width: 100%; }

.review:hover .review__hover {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); }

.review__photo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  height: 100%;
  width: 100%; }

.review__hover {
  background: rgba(20, 20, 20, 0.7);
  height: 100%;
  left: 50%;
  opacity: 0;
  padding: 17% 12% 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.3s ease 0s;
  width: 100%; }

.review__title {
  color: #fff;
  font-family: "Gagalin-Regular";
  font-size: 14px;
  margin-bottom: 25px; }

.review__shorttext {
  color: #ffffff;
  font-family: "Ubuntu-Light";
  font-size: 14px;
  margin-bottom: 13px; }

.review__view {
  background-color: #2f3234;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-family: "Ubuntu-Medium";
  font-size: 12px;
  padding: 8px 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s; }

.review__view:hover {
  background-color: #1f2122; }

/*==============================================  ORDER ====================================*/
.order {
  background: transparent url("../img/background/order.jpg") no-repeat scroll 50% center/cover; }

.order .section__title {
  text-align: center; }

.order .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.order__form {
  margin-left: -5%; }

.order__form-col {
  float: left;
  margin-left: 5%;
  width: 45%; }

.order__form-row {
  margin-bottom: 16px; }

.order__form-label {
  color: #fff;
  font-family: "Ubuntu-Light";
  font-size: 14px;
  margin-bottom: 17px; }

.order__form-input {
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 10px;
  width: 100%; }

.order__form-block {
  display: block; }

.order__form-row_double {
  margin-left: -20px; }

.order__form-row_double .order__form-block {
  float: left;
  margin-left: 20px;
  width: calc(100% / 2 - 20px); }

.order__form-row_quatro {
  margin-left: -20px; }

.order__form-row_quatro .order__form-block {
  float: left;
  margin-left: 20px;
  width: calc(100% / 4 - 20px); }

.order__form-input_textarea {
  height: 110px; }

.order__radio {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap; }

.order__radio-elem {
  left: -9999px;
  position: absolute;
  top: 0; }

.order__radio-fake {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  position: relative;
  vertical-align: middle;
  width: 16px; }

.order__radio-fake::after {
  background: #e35028;
  border-radius: 50%;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease 0s, height 0.3s ease 0s;
  width: 0; }

.order__radio-elem:checked + .order__radio-fake::after {
  height: 8px;
  width: 8px; }

.order__radio-title {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  vertical-align: middle; }

.order__radio_checkbox .order__radio-fake {
  border-radius: 0; }

.order__radio_checkbox .order__radio-elem + .order__radio-fake::after {
  background: transparent none repeat scroll 0 0; }

.order__radio_checkbox .order__radio-elem:checked + .order__radio-fake::after {
  background: transparent url("../img/icons/check.svg") no-repeat scroll 50% center/contain;
  height: 9px;
  width: 11px; }

.order__form-button {
  background: #e35028;
  border: 0 none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-right: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  vertical-align: middle; }

.order__form-button_reset {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  text-transform: none; }

/*====================================================  MAPS =================================*/
.yandex-map {
  height: calc(100% - 60px); }

.footer {
  background: transparent url("../img/background/footer.jpg") no-repeat scroll center bottom/cover;
  height: 60px;
  padding-top: 10px; }

.footer__col {
  float: left;
  width: 50%; }

.footer__address {
  color: #ffffff;
  font-size: 14px; }

.footer__phone {
  color: #e35028;
  font-family: "ubuntubold";
  font-size: 14px;
  text-decoration: none; }

.footer__col_right {
  padding-top: 9px;
  text-align: right; }

.socials {
  position: relative;
  top: 50%; }

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; }

.socials__item img {
  display: inline-block;
  max-height: 20px;
  max-width: 23px;
  opacity: 0.3;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%; }

.socials__item img:hover {
  opacity: 1; }

.full-review {
  padding: 25px 20px;
  position: relative; }

.full-review__title {
  font-family: "Gagalin-Regular";
  font-size: 14px;
  margin-bottom: 25px;
  text-transform: uppercase; }

.full-review__content {
  font-family: "Ubuntu-Light";
  font-size: 14px; }

.full-review__close {
  display: block;
  height: 15px;
  opacity: 0.7;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.3s ease 0s;
  width: 15px; }

.full-review__close:hover {
  opacity: 1; }

/*========================  FIXED MENU =====================*/
.fixed-menu {
  position: fixed;
  right: 40px;
  top: 90px; }

.fixed-menu__link {
  display: block;
  height: 16px;
  position: relative;
  width: 16px; }

.fixed-menu__link::after, .fixed-menu__link::before {
  border-radius: 50%;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.fixed-menu__link::after {
  background: #fff;
  height: 6px;
  width: 6px; }

.fixed-menu__link::before {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
  width: 0; }

.fixed-menu__link:hover::before {
  height: 14px;
  opacity: 1;
  width: 14px; }

.fixed-menu__item.active .fixed-menu__link::before {
  height: 14px;
  opacity: 1;
  width: 14px; }

.fixed-menu__item {
  margin-bottom: 5px; }

.nav__list::before,
.menu-acco::before,
.order__form::before,
.order__form-row::before,
.reviews__list::before,
.team-acco__content::before,
.nav__list::after, .menu-acco::after,
.order__form::after, .order__form-row::after,
.reviews__list::after,
.team-acco__content::after {
  content: "";
  display: table; }

.nav__list::after,
.menu-acco::after,
.order__form::after,
.order__form-row::after,
.reviews__list::after,
.team-acco__content::after {
  clear: both; }
